<app-header [pageTitle]="pageTitle" [pageIcon]="pageIcon"></app-header>


<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-card-title>
                <h2>Monto</h2>
            </ion-card-title>
            <ion-card-subtitle>
                <ion-input  type="number" inputmode="decimal"></ion-input>
            </ion-card-subtitle>
        </ion-card-content>

        <ion-card-content>
            <ion-item >
                <ion-select>
                    <ion-select-option></ion-select-option>
                </ion-select>
            </ion-item>
        </ion-card-content>

        <ion-button>
            <ion-icon slot="icon-only" name="repeat"></ion-icon>
        </ion-button>

        <ion-card-content>
            <ion-card-title>
                <h2>Convertir a</h2>
            </ion-card-title>
            <ion-card-subtitle>
                <ion-input></ion-input>
            </ion-card-subtitle>
        </ion-card-content>

        <ion-card-content>
            <ion-item>
                <ion-select>
                    <ion-select-option> </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-card-content>

    </ion-card>
</ion-content>
